@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body {
background: rgba(8,86,117,1);
background: -moz-linear-gradient(left, rgba(8,86,117,1) 0%, rgba(41,184,229,1) 0%, rgba(62,201,201,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8,86,117,1)), color-stop(0%, rgba(41,184,229,1)), color-stop(100%, rgba(62,201,201,1)));
background: -webkit-linear-gradient(left, rgba(8,86,117,1) 0%, rgba(41,184,229,1) 0%, rgba(62,201,201,1) 100%);
background: -o-linear-gradient(left, rgba(8,86,117,1) 0%, rgba(41,184,229,1) 0%, rgba(62,201,201,1) 100%);
background: -ms-linear-gradient(left, rgba(8,86,117,1) 0%, rgba(41,184,229,1) 0%, rgba(62,201,201,1) 100%);
background: linear-gradient(to right, rgba(8,86,117,1) 0%, rgba(41,184,229,1) 0%, rgba(62,201,201,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#085675', endColorstr='#3ec9c9', GradientType=1 );

    
    
}